<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	  <meta name="revisit-after" content="1 month">
		<title>Weather Lite</title>
		<link rel="manifest" href="/manifest.json">

	<!--Favicon Shiznit-->
		<link rel="icon" href="/app/images/appIcon.png?width=512" sizes="512x512">
		<link rel="icon" href="/app/images/appIcon.png?width=256" sizes="256x256" />
		<link rel="icon" href="/app/images/appIcon.png?width=128" sizes="128x128" />
		<link rel="icon" href="/app/images/appIcon.png?width=64" sizes="64x64" />
		<link rel="icon" href="/app/images/appIcon.png?width=32" sizes="32x32" />

	<!--APPLE PWA settings-->
	  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	  <meta name="apple-mobile-web-app-capable" content="yes" />
	  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	  <meta name="apple-mobile-web-app-title" content="WeatherLite">

	  <link href="static/img/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	  <link href="static/img/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />



	<!--Stylesheets -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">


	<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/static/js/init.js"></script>
		<script>
		var files = {
			JS: [
				'/static/js/weather.js',
				'/static/js/popup.js',
				'/static/js/application.js',
				'/static/js/UI.js',
				'/static/js/maps.js',
				'/static/js/errorLogger.js'
			],
			CSS: [
				'/static/css/general.css',
				'/static/css/app.css',
				'/static/css/popup.css'
			],
			HTML: [
				'/layout/weatherDetail',
				'/layout/navbar'
			]
		}

		$('document').ready(function(){
			assetLoader.CSS(files.CSS);
			assetLoader.JS(files.JS);
		});




		</script>

	</head>
	<body class="no-select">

		<div id="app">
			<div id="page"></div>
			<div id="nav"></div>
			<div id="popup" class="div-hide" onclick="popup.close()"></div>
		</div>
		<div id="scripts"></div>

	</html>
