<html>
	<head>

		<title>WeatherLite</title>
		<link rel="manifest" href="/manifest.json">
<!--
################################################################################
	                             Meta settings
################################################################################
-->
{% include 'init/meta.html' %}


<!--
################################################################################
                              Favicon Definitions
################################################################################
-->
{% include 'init/favicon.html' %}


<!--
################################################################################
                              Apple PWA Definitions
################################################################################
-->
{% include 'init/apple.html' %}


<!--
################################################################################
	                            CSS Stylesheets
################################################################################
-->
  {% for href in assets.CSS %}
    <link rel="stylesheet" href="{{href}}" async />{% endfor %}


<!--
################################################################################
	                            Javascript
################################################################################
-->
  <!-- Caching fontawesome with SW does not play nice on iOS -->
  <script src="https://kit.fontawesome.com/6825e8f688.js" crossorigin="anonymous"></script>
  {% for src in assets.JS %}
	<script src="{{src}}"></script>{% endfor %}

  </head>


  <body class="no-select">
    <div id="app">
			<div id="page"></div>
			<div id="nav"></div>
			<div id="popup" class="div-hide" onclick="popup.close()"></div>
		</div>

		<script>
			$('document').ready(function(){
				app.start();
			});
		</script>
  </body>


</html>
