<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="revisit-after" content="1 month">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.dipduo.com" />
<meta property="og:title" content="WeatherLite" />
<meta property="og:image" content="/static/img/site-thumbnail.jpg">
<meta property="og:description" content="WeatherLite is a robust Progressive Web Application (PWA) that offers full-featured weather visualization." />
<meta property="description"    content="WeatherLite is a robust Progressive Web Application (PWA) that offers full-featured weather visualization." />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsID}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{analyticsID}}');
</script>
