<!-- CSS -->
<style>
#chart-container {
  overflow-x: auto;
  width: 100%;
  height: 200px;
  min-width: 1200px
}
.wide-container {
  overflow-x: auto;
}
</style>



<!-- HTML -->

<div class="wide-container"><div id="chart-container">
  <canvas id="hourlyChart" height="300"></canvas>
</div></div>

<!-- JS -->

<script>

//trigger

loadHourlyChart(wData.NOAA.hourly.properties.periods);

//generate
function loadHourlyChart(dataRaw) {
  dataRaw = dataRaw.slice(0,24)
  var data = [];
  var labels = [];
  dataRaw.forEach(function(row){
    t = (new Date(row.startTime)).toLocaleTimeString([],
      {hour: '2-digit', minute:'2-digit'}
    );
    data.push({
      x: t,
      y: row.temperature
    });
    labels.push(t);
  });

  var chartRef = $('#hourlyChart');
  hourlyChart = new Chart(chartRef, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Hourly',
          data: data,
          backgroundColor: 'rgba(91, 192, 190,.2)',
          pointBorderWidth: 5,
        }
      ]
    },
    options: {
      legend: {
        display: false
      },
      maintainAspectRatio: false,
    }
  })
}

</script>
