<div class="list-container">
  <div class="list-bar">
    <span class="list-title">About WeatherLite</span>
  </div>
  <!--
  <div class="list-item text-left">
    <p>WeatherLite is an open-source project created me, Michael Dennis.</p>
    <p>I created this application for 2 reasons:</p>
    <ol>
      <li>To further standardize & improve the way I create Progressive Web Applications (PWAs)</li>
      <li>To spread the word about PWAs so they can be more widely adopted by the tech community</li>
    </ol>
    <p>
      Thank you for taking the time to try out my app. I hope I sparked enough curiosity
      for you to take some time to see what the future of mobile and desktop apps could look like.
    </p>
  </div>
-->
</div>
