<div class="list-container">
  <div class="list-bar">
    <span class="title">About WeatherLite</span>
  </div>

  <p class="p-1">
    WeatherLite is an open-source project created to visualize weather forecasts.
    The project's overarching goal is to show its users the capabilities of progressive web
    applications (PWAs) & and give developers inspiration on how to create PWAs of their own.
  </p>
  <hr />
  <table class="list-table">
    <tr class="flex-around">
      <td>Developer</td>
      <td>Michael Dennis</td>
      <td style="margin-top: -4px;">
        <a href="https://github.com/mdennis281" target="_blank">
          <i class="fab fa-github-square btn-active mb-1" alt="Github"></i>
        </a>
        <a href="https://www.linkedin.com/in/michael-dennis/" target="_blank">
          <i class="fab fa-linkedin btn-active mb-1" alt="LinkedIn"></i>
        </a>
      </td>
    </tr>
  </table>
</div>


<div class="list-container">
  <div class="list-bar">
    <span class="title">Built With</span>
  </div>
  <div class="flex-around flex-wrap">
    <div class="list-item-sm" onclick="window.open('https://daneden.github.io/animate.css/', '_blank');">
      <p>Animate.css</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://getbootstrap.com/', '_blank');">
      <p>Bootstrap 4</p>
    </div>
    <div class="list-item-sm" onclick="window.open('http://bootstrap-notify.remabledesigns.com/', '_blank');">
      <p>Bootstrap Notify</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://darksky.net/', '_blank');">
      <p>Dark Sky</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://fontawesome.com/', '_blank');">
      <p>
        Font Awesome
        <i class="fab fa-font-awesome-flag"></i>
      </p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://developers.google.com/maps/documentation', '_blank');">
      <p>Google Maps API</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://developers.google.com/places/web-service/intro', '_blank');">
      <p>Google Places API</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://jquery.com/', '_blank');">
      <p>jQuery v3.4.1</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://openweathermap.org/', '_blank');">
      <p>Open Weather Map API</p>
    </div>
    <div class="list-item-sm" onclick="window.open('https://www.ncdc.noaa.gov/cdo-web/webservices/v2', '_blank');">
      <p>NOAA API</p>
    </div>
  </div>
</div>
