<div class="flex-around">
  <div id="favorites-container">
    <div id="favorites-list">

    </div>
    <div id="add-favorite">
      <i class="fas fa-plus-circle" onclick="ui.favorites.new.open()"></i>
    </div>
  </div>
  <div id="new-favorite" class="div-hide">
    <div class="header">
      <i class="fas fa-times-circle" onclick="ui.favorites.new.close()"></i>
      <input class="form-control" type="text" placeholder="location">
    </div>
  </div>
</div>


<script>
  ui.favorites.generate();
</script>
