<div class="list-container">
  <div class="list-bar">
    <span class="title">1.) Open Safari</span>
  </div>
  <img src="/static/img/tutorial/iOSPWA/safari.jpg" height="100"></img>

  <hr />
  <p class="p-2 pt-0">Installing a PWA on iOS means you must open this site in Safari.</p>

</div>
<div class="list-container">
  <div class="list-bar">
    <span class="title">2.) Press Share</span>
  </div>
  <img src="/static/img/tutorial/iOSPWA/share.jpg" height="100"></img>

  <hr />
  <p class="p-2 pt-0">After opening WeatherLite in Safari, press the share button.</p>
</div>
<div class="list-container">
  <div class="list-bar">
    <span class="title">3.) Add to home screen</span>
  </div>
  <img src="/static/img/tutorial/iOSPWA/AddToHome.jpg" height="300"></img>

  <hr />
  <p class="p-2 pt-0">Press the "Add to Home Screen" option, then press add.</p>

</div>
<div class="list-container">
  <div class="list-bar">
    <span class="title">That's it!</span>
  </div>
  <i class="fas fa-check fa-4x text-success"></i>

  <hr />
  <p class="p-2 pt-0">You should now see WeatherLite on your main screen as an app.</p>
</div>
