
<div id="nav-row" class="d-flex justify-content-around">
  <div id="weather" class="option" onclick="app.page.select(this.id)">
    <i class="fas fa-cloud-sun"></i>
    <p>Weather</p>
  </div>
  <div id="favorites" class="option" onclick="app.page.select(this.id)">
    <i class="fas fa-star"></i>
    <p>Favorites</p>
  </div>
  <div id="settings" class="option" onclick="app.page.select(this.id)">
    <i class="fas fa-cog"></i>
    <p>Settings</p>
  </div>
  <div id="about" class="option" onclick="app.page.select(this.id);">
    <i class="fas fa-question-circle"></i>
    <p>About</p>
  </div>
</div>
