
<div class="list-container">
  <div class="list-bar">
    <i class="fad fa-sliders-v-square bar-ico"></i>
    <span class="title">App Settings</span>
  </div>
  <table class="list-table two-col">
    <tr>
      <td>Metric Unit System</td>
      <td id="units-desc" class="sub div-hide"></td>
      <td>
        <div class="flex-center">
          <div class="ml-1" id="units-toggle"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Cache Assets</td>
      <td id="cached-mode-desc" class="sub div-hide"></td>
      <td>
        <div class="flex-center">
          <div class="ml-1" id="cached-mode-toggle"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Restart App</td>
      <td >
        <i class="fad fa-sync btn-active ml-2" onclick="app.refresh()"></i>
      </td>
    </tr>
    <tr>
      <td>Clear Cache</td>
      <td >
        <i class="fad fa-dumpster btn-active ml-2" onclick="app.clearCache()"></i>
      </td>
    </tr>
    <tr>
      <td>Clear Weather Cache</td>
      <td>
        <i class="fad fa-trash-alt btn-active ml-2" onclick="weather.cache({})"></i>
      </td>
    </tr>
  </table>
  <div class="list-bar">
    <i class="fad fa-browser bar-ico"></i>
    <span class="title">App Info</span>
  </div>
  <table class="list-table two-col">
    <tr>
      <td>Version</td>
      <td id="app-version"></td>
    </tr>
    <tr>
      <td>Browser</td>
      <td id='device-browser'></td>
    </tr>
    <tr>
      <td>OS</td>
      <td id="device-os"></td>
    </tr>
    <tr>
      <td>PWA</td>
      <td id="device-isPWA"></td>
    </tr>
  </table>
  <div class="list-bar ">
    <i class="fad fa-location-circle bar-ico"></i>
    <span class="title">Location Info</span>
  </div>
  <table class="list-table two-col">
    <tr>
      <td>Latitude</td>
      <td id="lat-val"></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td id="lon-val"></td>
    </tr>
    <tr>
      <td>Map View</td>
      <td id="cl-link"></td>
    </tr>
  </table>
  <div class="list-bar">
    <i class="fad fa-bug bar-ico"></i>
    <span class="title">Debug</span>
  </div>
  <table class="list-table two-col">
    <tr>
      <td>Raw Weather Data</td>
      <td><a onclick="ui.settings.debug.weatherData()" href="#">View</a></td>
    </tr>
    <tr>
      <td>Weather Data Timing</td>
      <td><a onclick="ui.settings.debug.weatherTiming()" href="#">View</a></td>
    </tr>
  </table>
</div>
