
<div class="list-container">
  <div class="list-bar">
    <span class="title">App Settings</span>
  </div>
  <table class="list-table">
    <tr>
      <td>Cache Assets</td>
      <td id="cached-mode-desc" class="sub div-hide"></td>
      <td><div id="cached-mode-toggle"></div></td>
    </tr>
    <tr>
      <td>Restart App</td>
      <td class="text-left">
        <i class="fad fa-sync btn-active ml-2" onclick="location.reload(true)"></i>
      </td>
    </tr>
    <tr>
      <td>Clear Cache</td>
      <td class="text-left">
        <i class="fad fa-window-close btn-active ml-2" onclick="app.clearCache()"></i>
      </td>
    </tr>
  </table>
  <div class="list-bar">
    <span class="title">App Info</span>
  </div>
  <table class="list-table">
    <tr>
      <td>Browser</td>
      <td id='device-browser'></td>
    </tr>
    <tr>
      <td>OS</td>
      <td id="device-os"></td>
    </tr>
    <tr>
      <td>PWA</td>
      <td id="device-isPWA"></td>
    </tr>
  </table>
</div>
