<div id="loader-container" class="d-flex justify-content-center">
  <img id="loader" src="/static/img/loading.gif" />
</div>

<div id="weather-content" class="div-hide">

  <div id="weather-1st-row" class="d-flex justify-content-around flex-wrap">
    <p id="temperature"></p>
    <div id="location-info">
      <div id="city"></div>
      <div id="condition"></div>
    </div>
  </div>
  <p id="detailed-forecast-today"></p>
  <div class="forecast-container">
    <div class="wide-container no-scrollbar">
      <table class="forecast-table" id="hourly-forecast"></table>
    </div>
  </div>
  <table id="daily-forecast"></table>
  <hr class="m-0" />
  <div class="flex-around detail-row">
    <div  onclick="ui.weather.radar.open()" class="hover-pointer">
      <i class="fad fa-map-marked-alt map"></i>
      <p>View Weather Map</p>
    </div>
  </div>
  <div class="flex-around detail-row">
    <div>
      <i class="fad fa-sunrise fa-2x" alt="Sunrise"></i>
      <p id="sunrise-time"></p>
    </div>
    <div>
      <i class="fad fa-sunset fa-2x" alt="Sunset"></i>
      <p id="sunset-time"></p>
    </div>
  </div>
  <div class="flex-around detail-row">
    <div>
      <i class="fas fa-humidity fa-2x" alt="Humidity"></i>
      <p id="humidity"></p>
    </div>
    <div>
      <i class="fad fa-eye fa-2x" alt="Visibility"></i>
      <p id="visibility"></p>
    </div>
  </div>
  <div id="radar-container" class="div-hide">
    <div class="header" onclick="ui.weather.radar.close()">
      <i class="fas fa-times"></i>
    </div>
    <div class="body"></div>
  </div>

<div>
