/*
------------------------------------------------
    Layout Settings
------------------------------------------------
*/

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  position: fixed;
}

body {
  background-color: #0B132B;
  color: #aaa;
      font-family: 'Inconsolata', monospace;
}
#page {
  overflow-y: auto;
  padding-bottom: 100px;
  height: 100%;
  overflow-x: hidden;
}

/*
------------------------------------------------
    navbar
------------------------------------------------
*/

#nav {
  background-color: #1C2541;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 1071;
}


#nav-row {
  padding: 0;
  margin: 0;
}

#nav-row .option {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#nav-row .option:hover {
  cursor: pointer;
}

#nav-row .option i {
  margin: auto;
  font-size: 2em;
  transform: scale(1);
}

#nav-row .selected {
  color: #5BC0BE;
  transform: scale(1.1);
}

/*
------------------------------------------------
    Loading spinner
------------------------------------------------
*/

#loader-container {
  text-align: center;
  font-size: 5em;
  color: #1C2541;
  height: calc(100vh - 100px);
  align-items: center;
  padding-top:100px;
}
#loader {
  padding-bottom: 100px;
}

/*
------------------------------------------------
    global
------------------------------------------------
*/
hr {
  border-top: 1px solid rgba(204, 204, 204,.2);
}
#page {
  color: #ccc;
}


.ptr--ptr {
  box-shadow: none;
  border-bottom: 1px solid rgba(204, 204, 204,.2);
}
.ptr--icon {
  color: rgba(170,170,170, 0.3)  !important;
}
  .ptr--text {
  color: rgba(170,170,170, 0.3)  !important;
}

/*
------------------------------------------------
    weather
------------------------------------------------
*/

#weather-content {

}

#temperature {
  font-size: 100px;
  line-height: 100px;
}
#location-info {
  text-align: center;
  margin-bottom: 10px;
}

#location-info #city {
  font-size: 45px;
  text-transform: capitalize;
  line-height: 60px;
}

#location-info #condition {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
}

.detail-row {
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(204, 204, 204,.2);
  padding-bottom: 5px;
  padding-top: 5px;
}


.wide-container {
  overflow-x: auto;
}


#hourly-forecast {
  height: 120px;
  border: 0;
  table-layout: fixed;
  width: 100%;
  text-align: center;

}
#hourly-forecast td {
  width: 75px;
  margin: 0px;
  padding: 5px;
  vertical-align: middle;
}

#hourly-forecast td i {
  font-size: 20px;
  margin: 10px 0 10px 0;
}
#hourly-forecast td p {
  font-size: .9em;
}

.forecast-container {
  border: 1px solid rgba(204, 204, 204,.2);
  border-left: 0;
  border-right: 0;
  height: 125px;
  margin: 10px 0 10px 0;
  width: 100%;
}

#daily-forecast {
  width: 100%;
  text-align: center;
  cursor: ponter;
}
#daily-forecast td {
  padding-bottom: 10px;
  width: 25%;
}

#radar-container {
  z-index: 5;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#radar-container .header {
  background-color: #0B132B;
  color: #ccc;
  text-align: right;
  width: 100%;
  padding: 5px 10px 5px 10px;
  font-size: 25px;
  height: 35px;
}
#radar-container .body {
  width: 100%;
  height: calc(100% - 35px);
}
#radar-container .body iframe {
  height: 100%;
  width: 100%;
  position: relative;
}

#detailed-forecast-today {
  text-align: center;
  border-top: 1px solid rgba(204, 204, 204,.2);
  padding: 10px 10px 0 10px;
}

.map {
  font-size: 40px;
}



/*
------------------------------------------------
    favorites
------------------------------------------------
*/
#location-icon {
  font-size: 12px;
  margin: 0,5px,3px,0;

}
.list-container {
  width: 75%;
  max-width: 650px;
  background-color: #101933;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .list-container {
    width: 100%;
  }
}

.list-item .edit-entry {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  text-align: center;
  background-color: #253050;
  padding: 17px;
  border-left: 1px solid #777;
}

.list-table {
  width: 100%;
  text-align:  center;
  transition: all 0.3s ease;
}
.list-table tr td:nth-child(1) {
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
}
.list-table tr td:nth-child(1)::after {
  content: ":";
}


.list-table tr td {
  padding: 5px 0 5px 0;
  transition: all 0.3s ease;
}

.list-item {
  background-color: #1C2541;
  min-height: 50px;
  text-align: center;
  margin: 5px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.list-item:hover {
  background-color: #253050;
  color: #eee;
  cursor: pointer;
}
.list-item .edit-entry {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  text-align: center;
  background-color: #253050;
  padding: 17px;
  border-left: 1px solid #777;
}
.list-item p {
  padding-top: 11;
}


.list-container .list-item-sm {
  background-color: #1C2541;
  text-align: center;
  margin: 5px;
  padding: 10px;
  transition: all 0.3s ease;
}
.list-container .list-item-sm:hover {
  background-color: #253050;
  color: #eee;
  cursor: pointer;
}

.list-container .disabled:hover {
  background-color: #1C2541;
  cursor: default;
  color: #ccc;
}

.list-item-square .sub, .list-table .sub{
  color: #777;
}
.list-container .list-item-square p {
  white-space: nowrap;
}

.list-bar {
  background-color: #253050;
  margin: 5px 0 5px 0;
  padding: 3px;
  text-align:  center;
  color: #eee;
  transition: all 0.3s ease;
}

.list-bar i {
  font-size: 20px;
  padding: 3px 5px 3px 5px;
  transition: all 0.3s ease;

}
.list-bar i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.list-bar .title {
  font-size: 18px;
  font-weight: 550;
}

.list-bar input {
  margin: 3px;
  border-radius: 0;
  background: RGBA(255,255,255,.2);
  border-color: RGBA(255,255,255,.3);
  color: #ccc;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.list-bar input:focus {
    background-color: RGBA(200,200,200,.4);
    border-color: RGBA(255,255,255,.6);
    color: #ccc;
}




.list-bar ::placeholder {
  color: #999;
  text-transform: capitalize;
}
