.div-hide {
  display: none !important;
}
.no-scrollbar::-webkit-scrollbar {
    width: 0 !important
}

.no-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}



.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */
}

.nowrap {
    white-space: nowrap;
}

.overflow-auto{
    overflow: auto;
}

.overflow-y-auto {
    overflow-y:auto;
}
.overflow-x-auto {
    overflow-x:auto;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

p {
  margin: 0;
}
.no-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.flex-around {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
}

.flex-between {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.flex-center {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: justify!important;
  justify-content: center!important;
}

.hover-pointer:hover {
  cursor: pointer;
}

.text-left {
  text-align: left !important;
}
.bg-none,.bg-none:hover{
  background-color: RGBA(0,0,0,0) !important;
}

.toggle-container {
  height: 35px;
  width: 40px;
  position: relative;
}
i.createToggle-on.fad.fa-toggle-on, 
i.createToggle-off.fad.fa-toggle-off {
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
i.createToggle-on.fad.fa-toggle-on::after {
  color: #166c16;
  opacity: 1;
}
i.createToggle-on.fad.fa-toggle-on::before {
  color: #888;
  opacity: 1;
}
i.createToggle-off.fad.fa-toggle-off::after {
  color: #888;
  opacity: 1;
}
i.createToggle-off.fad.fa-toggle-off::before {
  color: #585858;
  opacity: 1;
}
.animated {
  -webkit-animation-duration: .4s !important;
  animation-duration: .4s !important;
}

.btn-active {
  transition: all 0.3s ease;
  color: #aaa;
  font-size: 25px;
}
.btn-active:hover {
  transform: scale(1.04);
  color: #fff;
  cursor: pointer;
}

a i {
  color: #aaa;
}
.hourly-item {
  z-index: 1;
  position: relative;
  left: 0;
  top: 0;
}

.timer-box {
  padding: 1em;
  width: fit-content;
  margin: auto;
  border-top: 1px solid;
  border-color: #aaa;
}

.sw-table {
  width: 100%;
  text-align: center;
}
.sw-table td {
  border: 1px solid;
  padding: 3px;
}
.sw-table th {
  margin: 3px;
  padding: 5px;
  border: 1px solid;
  background-color: #253050;
}

/*SCROLLBAR SETTINGS*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

/* Track */

::-webkit-scrollbar-track {
    background: #1c2541;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #253050;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .5);
}
