.div-hide {
  display: none !important;
}
.no-scrollbar::-webkit-scrollbar {
    width: 0 !important
}

.no-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */
}

.nowrap {
    white-space: nowrap;
}

.overflow-auto{
    overflow: auto;
}

.overflow-y-auto {
    overflow-y:auto;
}
.overflow-x-auto {
    overflow-x:auto;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

p {
  margin: 0;
}
.no-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.flex-around {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
}

.flex-between {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.flex-center {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: justify!important;
  justify-content: center!important;
}

.hover-pointer:hover {
  cursor: pointer;
}

.text-left {
  text-align: left !important;
}
.bg-none,.bg-none:hover{
  background-color: RGBA(0,0,0,0) !important;
}

.toggle-container {
  height: 35px;
  width: 40px;
  position: relative;
}
.createToggle-on, .createToggle-off {
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
.createToggle-on::before {
  color: #166c16;
  opacity: 1;
}
.createToggle-on::after {
  color: #888;
  opacity: 1;
}
.createToggle-off::before {
  color: #888;
  opacity: 1;
}
.createToggle-off::after {
  color: #585858;
  opacity: 1;
}
.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn-active {
  transition: all 0.3s ease;
  color: #aaa
  font-size: 20px;
}
.btn-active:hover {
  transform: scale(1.04);
  color: #fff;
}

a i {
  color: #aaa;
}
