.notifyjs-corner .notifyjs-wrapper, .notifyjs-corner .notifyjs-container {
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
    padding: 3px;
    margin: 0px;
}
.notifyjs-corner {
    top: 0px;
    right: 0px;
    width: 100%;
    margin: 0px;
}
@media (min-width: 450px) {
  .notifyjs-corner {
    width: 425px;
  }
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 3px;
  background-color: #1C2541;
}
.progress-bar {
  background-color: #888;
}
[data-notify="dismiss"] {

}
.n-container {
  padding: 0;
  height:65px;
  border: 1px solid #888;
  color: #ccc;
}
.n-info {
  width: 95%;
  text-align: left;
  margin: 5px;
  background-color: #253050;
}
@media (min-width: 450px) {
  .n-info {
    width: 425px;
  }
}
.n-clickable {
  width: 90%;
  height: 100%;
  position:absolute;
}
.n-body {
  width: 85%;
  height: 100%;
  padding: 0 3px 0 3px;
  position:absolute;
  right: 0;
  vertical-align: middle;
  font-size: 15px;
  overflow: auto;
}
.n-icon {
  width: 15%;
  height:100%;
  line-height: 58px;
  text-align: center;
  background-color: rgba(11, 19, 43, 0.46);
  position:absolute;
  left: 0;
  vertical-align: middle;
}
.n-icon i {
  line-height: 58px;
}
.n-dismiss {
  width: 10%;
  height:100%;
  right: 0px;
  text-align: center;
  background-color: rgba(11, 19, 43, 0.46);
  position:absolute;
  font-size: 20px;
}
.n-dismiss i {
  line-height: 58px;
}
